name: Build PR

on:
  pull_request:
    branches: ['main']

permissions:
  contents: read

concurrency:
  group: 'pr-${{ github.event.pull_request.number }}'
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build